MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/schedulo?retryWrites=true&w=majority
JWT_SECRET=replace-with-a-long-random-secret
SEED_MANAGER_USERNAME=manager
SEED_MANAGER_PASSWORD=Manager1234!
SEED_MANAGER_NAME=Store Manager
SEED_EMPLOYEE_USERNAME=employee
SEED_EMPLOYEE_PASSWORD=Employee1234!
SEED_EMPLOYEE_NAME=Sample Employee
